<%= simple_form_for @order do |f| %>
  <div class="box-body">

    <fieldset style="margin-bottom: 2rem;" class="form-inline">
      <legend>Items in this order</legend>
      <div id="order_line_items">

        <%= f.simple_fields_for :line_items do |item| %>
          <%= render 'line_items/line_item_fields', f: item %>
        <% end %>
      </div>

      <div class="row links">
        <div class="col-xs-12">
          <%= link_to_add_association f, :line_items,
                                      data: {
                                          association_insertion_node: "#order_line_items",
                                          association_insertion_method: "append"
                                      }, id: "__add_line_item", class: "btn btn-success", style: "margin-top: 1rem;", partial: "line_items/line_item_fields" do
          %>
            <i class="fa fa-plus"></i> Add another item
          <% end %>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-xs-12">
        <%= f.button :submit, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div><!-- /.box-body.container -->
<% end %>
