<section class="content-header">
  <% content_for :title, "#{current_partner.email} - Orders - #{@order.id}" %>
  <h1>
    Order
    <small>for <%= current_partner.email %></small>
  </h1>
  <ol class="breadcrumb">
  <li><%= link_to(root_path) do %>
      <i class="fa fa-dashboard"></i> Home
    <% end %>
    </li>
    <li><%= link_to "Orders", (orders_path) %></li>
    <li class="active">  <%= l @order.created_at %></li>
  </ol>
</section>

<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <fieldset>
        <p>This order was started on <%= l @order.created_at %></p>
        <section id="line_items">
          <!-- /.box-header -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <thead>
                    <th>Item</th>
                    <th>Quantity</th>
                  </thead>

                  <tbody>
                    <%= render partial: "order_item_row", collection: @line_items %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <!--
        TODO: What's the best way to do this? Should we use a new workflow?
        -->
        </section>


       <h2> <%= link_to "Make a correction", edit_order_path(@order), class: "btn btn-primary" %> </h2>
      </fieldset>

    </div>
  </div>
</section>





